iframe
{
	border-width: 0;
	/*width: 935px;*/
	width: 885px;
	height: 505px;
	frameborder: 0;
	scrolling: no;
}

@media screen and (min-height: 610px) {
	iframe
	{
		height: 590px;
	}
}

.avoid-clicks 
{
pointer-events: none;
}

