#ls_cell3_1, #ls_cell3_2, #ls_cell3_3, #ls_cell3_4,
#ls_cell3_5, #ls_cell3_6, #ls_cell3_7, #ls_cell3_8, #ls_cell3_9,
#ls_cell3_10, #ls_cell3_11, #ls_cell3_12, #ls_cell3_13, #ls_cell3_14,
#ls_cell3_15, #ls_cell3_16, #ls_cell3_17, #ls_cell3_18, #ls_cell3_19,
#ls_cell3_20, #ls_cell3_21, #ls_cell3_22, #ls_cell3_24, #ls_cell3_26, #ls_cell3_23, #ls_cell3_24, #ls_cell3_25,
#ls_cell3_27, #ls_cell3_28, #ls_cell3_29, #ls_cell3_30, #ls_cell3_31
 {
	font-family: arimo;
	font-weight: normal;
	color: #999;
	font-size: 12px;
	margin-top: -20px;
	height: 20px;
	line-height: 65px;
	text-shadow: 1px 1px 5px black;
	
}

#desc_cell3_1, #desc_cell3_2, #desc_cell3_3, #desc_cell3_4,
#desc_cell3_5, #desc_cell3_6, #desc_cell3_7, #desc_cell3_8, #desc_cell3_9,
#desc_cell3_10, #desc_cell3_11, #desc_cell3_12, #desc_cell3_13, #desc_cell3_14,
#desc_cell3_15, #desc_cell3_16, #desc_cell3_17, #desc_cell3_18, #desc_cell3_19,
#desc_cell3_20, #desc_cell3_21, #desc_cell3_22, #desc_cell3_24, #desc_cell3_26, #desc_cell3_23, #desc_cell3_24, #desc_cell3_25,
#desc_cell3_27, #desc_cell3_28, #desc_cell3_29, #desc_cell3_30, #desc_cell3_31
 {
	font-family: arimo;
	font-weight: normal;
/*	color: #999; */
	color: #F2DDB3;
	font-size: 17px;
	margin-top: -20px;
	height: 25px;
	line-height: 15px;
	text-shadow: 1px 1px 4px black;
	
}
 
#cell3_3, #cell3_25 
{
	font-family: arimo;
	font-weight: bold;
	/*width: 277px;*/
	width: 252px;
	padding: 5px;
/*	border: 1px solid #1E1E1F; */
	border: 1px solid transparent;
	border-radius: 0px;
	height: 152.5px;	
	line-height: 170px; 
	font-size: 100px;	
	color: #999;
	margin: 0px ;
	text-shadow: 1px 1px 4px black;
	
}
 
#cell3_1, #cell3_2, #cell3_4, #cell3_5, 
#cell3_6, #cell3_7, #cell3_8, #cell3_9, #cell3_10, 
#cell3_11, #cell3_12, #cell3_13, #cell3_14, #cell3_15, 
#cell3_16, #cell3_17, #cell3_18, #cell3_19, #cell3_20, 
#cell3_21, #cell3_22, #cell3_24, #cell3_26, #cell3_23,
#cell3_27, #cell3_28, #cell3_29, #cell3_30, #cell3_31
     {
	font-family: arimo;
	font-weight: bold;
	/*width: 162px;*/
	width: 152px;
	padding: 10px;
/*	border: 1px solid #1E1E1F; */
	border: 1px solid transparent;
	border-radius: 0px;
	height: 58px;
	line-height: 55px; 		
	color: #999;
	font-size:40px;
	text-shadow: 1px 1px 4px black;
	
}

#cell3_8, #cell3_13, #cell3_18, #cell3_24, #cell3_29
{ 
	/*width: 184px; */
	width: 154px; 
}

