#main {
  width: 100%px;
  height: 100%px;
  overflow: hidden;
}
#main .main-border {
  width: 650px;
  padding: 0px;
  border-radius: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -230px;
  margin-top: -255px;
  overflow: hidden;
  background: transparent;
}
#main .main-border #keypad {
  width: 500px;
  overflow: hidden;
  border-radius: 35px;
  padding: 5px;
  background: transparent;
}
#main .main-border #keypad .keypad-header {
  overflow: hidden;
}
#main .main-border #keypad input[type="text"] {
  background: transparent;
  border-radius: 16px;
  padding: 2px 10px 0;
  width: 550px;
  height: 92px;
  border: 0;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: -60px;
  font: 72px 'digital';
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}
#main .main-border #keypad .keypad-keys {
  overflow: hidden;
}
#main .main-border #keypad .keypad-keys li {
  display: block;
  float: left;
  cursor: pointer;
  width: 32px;
  background: #757575;
  text-align: center;
  white-space: nowrap;
  background: transparent;
  margin: 0 15px 15px 0;
  border-radius: 16px;
  font: 32px/32px 'Audiowide';
  color: #ffffff;
  padding: 12px;
}
#main .main-border #keypad .keypad-keys li:nth-child(4n+4) {
  margin-right: 0;
}
#main .main-border #keypad .keypad-keys li.disarm {
  width: 200px;
  font-size: 26px;
  background: #1ea803;
}
#main .main-border #keypad .keypad-keys li.disabled {
  width: 200px;
  font-size: 26px;
  background: #cedce7;
}
#main .main-border #keypad .keypad-keys li.arm1 {
  width: 200px;
  font-size: 26px;
  background: #f5582b;
}
#main .main-border #keypad .keypad-keys li.arm2 {
  width: 200px;
  font-size: 26px;
  background: red;
}
#main .main-border #keypad .keypad-keys li.btnclear {
  width: 200px;
  font-size: 26px;
  background: #00b7ea;
}
ul{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
		list-style: none;
		}
